@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 400px;
}

form {
  display: grid;
  gap: 20px;
}

label {
  display: grid;
}

input {
  border: 1px solid #333;
}
